@using Test.Transactions.Common
@model WebApplication2.Models.UploadFileViewModel

@{
    ViewBag.Title = "Upload";
}

<h2>Upload File</h2>
@Html.ValidationSummary()

@{
    using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" />
        <br />
        <input type="submit" value="Upload" class="save" id="btnid" />
        <br>
        <br>
        if (Model.Result != null && Model.Result.Status == ParseStatus.Ok)
        {
            <h3 id="msg">@ViewBag.Message</h3>
            <h4>Number of records found : @Model.Result.RecordCount </h4>
        }
        else
        {
           if (Model.Result != null && Model.Result.Status == ParseStatus.Warning)
           {
                <h4>Invalid records found : @Model.Result.InvalidLines.Count </h4>
                
                    foreach (var line in Model.Result.InvalidLines)
                    {
                        <p>@line</p>
                    }
                
           }
        } 
    }
}
